* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(67, 67, 114);
}

.container
{
    background-color: antiquewhite;
    /* margin: 100px auto 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
}

.container h1 
{
    font-weight: 1000;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.quiz{
    padding: 20px 0;
}
.quiz h2
{
    padding-bottom: 10px;
    font-weight: 1000;
}

.btn
{
    width: 100%;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

}

.btn:hover
{
    /* background-color: #99713c; */
    /* transition: .3s ease-in-out; */
}

btn:active
{
    transform: scale(1.4);
}

#next-btn
{
    width: 240px;
    padding: 10px 15px;
    background-color: rgb(107, 228, 228);
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px auto 10px;
    cursor: pointer;
    display: none;

}

#next-btn:hover
{
    background-color: rgb(56, 100, 100);
    color: white;
}
.correct 
{
    background-color: green;
}
.incorrect 
{
    background-color: red;
}