* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
body{
    height: 100vh;
    background-color: var(--primary-color);
}

.container
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    color: var(--secondary-color);
}

.container img 
{
    width: 50px;
    cursor: pointer;
    border: 3px solid rgb(105, 79, 79);
    border-radius: 50%;
    box-shadow: 6px 1px 23px  #435672;
    transition: transform .2s ease-in-out;
}

.container img:hover{
    transform: scale(1.1);
}

.dark-theme 
{
    --primary-color: #000106;
    --secondary-color: #fff;
}