*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    width: 100%;
    background: url(images/background.png);
    background-position: center;
    background-size: cover;
    color: white;
}

nav
{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 15px;
}

nav img
{
    width: 90px;
    padding: 10px;
    cursor: pointer;
}

nav ul 
{
    display: flex;
    gap: 50px;
    list-style: none;
    flex: 1;
    padding: 10px;
}
nav ul li 
{
    font-size: 1.5rem;
    cursor: pointer;
}

#btn
{
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white;
    margin-right: 60px;

}

.firstPart
{
    width: 600px;
    margin-top: 60px;
    padding: 30px;
}

.firstPart h2 {
    font-size: 4rem;
}

.firstPart span
{
    color: rgb(228, 153, 13);
}

.firstPart p 
{
    font-size: 15px;
}

button
{
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
    height: 50px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

button:hover{
    background-color: rgb(228, 153, 13);
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.coins 
{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: end;
    padding-right: 100px;
}
.coin
{
    text-align: center;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.coin:hover
{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.coin img
{
    width: 50px;
}