*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    background: #f7edff;
}

.buttons
{
    margin: 50px;
    gap: 10px;
}

.buttons button
{
    width: 120px;
    height: 40px;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    /* padding: 10px 0; */
    border-radius: 10px;
    margin: 0 10px;
}

#toastbox
{
    position: absolute;
    bottom: 30px;
    right: 30px;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 20px rgb(0,0,0,0.3); */
    overflow: hidden;
    cursor: pointer;
}

.toast
{
    padding: 10px;
    width: 350px;
    height: 60px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 15px 0;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    border-radius: 10px;
}